/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(10, 245, 245);
  margin: 100;
  padding: 50;
  
  
}


.App {
    text-align:center;
    

  }
  /* .TodoForm {
    max-width: 600px;
    margin: 20px auto;
  } */
  .form {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  